table#bang1{
    border:2px solid;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(to bottom, #ccffcc 0%, #ffffff 82%);
}
img {
    border-radius: 20px;

}
table#bang2{
    border:1px solid black;
    border-radius: 20px;
    overflow:hidden ; 
}
table#bang2 td {
    border: 1px solid; 
    padding: 10px ;
    border-radius: 15px ;
    background: linear-gradient(to bottom, #ffcccc 0%, #ffffff 57%);
}

table#bang2 th{
    border:1px solid; 
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #ffcccc 0%, #ffffff 57%);
}
table#bang2{
    margin: auto;
    background: linear-gradient(to top, #ffffcc 0%, #ffffff 60%);

}
ul{
    list-style-position: inside; 
    margin: auto;
    border:2px solid; 
    border-radius: 20px;
    padding:20px ;
    list-style-type: none;
    background: linear-gradient(to bottom, #ccffcc 0%, #ffffff 82%);
}
ol{
    border:2px solid; 
    border-radius: 20px; 
    margin: auto;
    padding: 20px ;
    list-style-position: inside;
    background: linear-gradient(to bottom, #ccffcc 0%, #ffffff 82%);
}
li{
    padding: 10px;
}
h1, h2 , h3 {
    color: #0e0e0d;
}
.container {
   background: linear-gradient(to bottom, #ccffff 17%, #ffffff 100%);
    border:2px solid black;
    border-radius: 20px;
}
h1,h2,h3{
    text-align: center;
}